<style>
    {{#if @custom.hero_bg}}
    .profile-rail {
      background-image: url({{@custom.hero_bg}});
    }
    {{/if}}
</style>
<aside class="profile-rail">
  {{#if @custom.hero_bg}}
    <div class="profile-mask"></div>
  {{/if}}
  <div class="profile-container">
    <p class="profile-badge">{{@custom.profile_badge}}</p>
    <h1 class="profile-name"><a href="{{@site.url}}">{{@site.title}}</a></h1>
    <p class="profile-role">{{@custom.profile_role}}</p>

    {{#if @site.logo}}
      <img class="profile-avatar site-logo" src="{{@site.logo}}" alt="{{@site.title}}">
    {{else if @site.icon}}
      <img class="profile-avatar site-icon" src="{{@site.icon}}" alt="{{@site.title}}">
    {{else}}
      <div class="profile-avatar profile-avatar--placeholder"></div>
    {{/if}}

    <!--  <p class="profile-bio">{{@custom.profile_bio}}</p>-->
    <p class="profile-bio">{{@site.description}}</p>

    <div class="profile-meta">
      {{> social}}
    </div>
  </div>
</aside>
