<style>
    {{#if @site.cover_image}}
    .profile-rail {
      background-image: url({{@site.cover_image}});
    }
    {{/if}}
</style>
<aside class="profile-rail {{#is "home"}}profile-rail--show{{/is}}">
  {{#if @site.cover_image}}
    <div class="profile-mask"></div>
  {{/if}}
  <div class="profile-container">
    <h1 class="profile-name"><a href="{{@site.url}}">{{@site.title}}</a></h1>
    <p class="profile-role">{{@custom.profile_description}}</p>

    {{#if @site.logo}}
      <img class="profile-avatar site-logo" src="{{@site.logo}}" alt="{{@site.title}}">
    {{else if @site.icon}}
      <img class="profile-avatar site-icon" src="{{@site.icon}}" alt="{{@site.title}}">
    {{else}}
      <div class="profile-avatar profile-avatar--placeholder"></div>
    {{/if}}

    <p class="profile-bio">{{@site.description}}</p>

    <div class="profile-meta">
      {{> social}}
    </div>

    <div class="profile-entry">
      <a id="profile-entry__btn" class="btn btn-primary" href="#blog">Enter Blog</a>
      <script>
        const _hash = location.hash;
        function handleFadeProfile () {
          document.querySelector('.profile-rail').classList.add('profile-faded')
        }
        if (_hash === '#blog') {
          handleFadeProfile();
        }
        document.getElementById('profile-entry__btn').addEventListener('click', handleFadeProfile);
      </script>
    </div>
  </div>
</aside>
