{{#if @custom.profile_social_email}}
  <!-- Email -->
  <a href="mailto:{{@custom.profile_social_email}}" title="邮件联系我">
    <i class="fa-solid fa-envelope"></i>
    <span class="label">Email</span>
  </a>
{{/if}}

{{#if @custom.profile_social_github}}
<!-- Github -->
<a href="{{@custom.profile_social_github}}" title="@Luna 的 Github" target="_blank" rel="noopener noreferrer">
  <i class="fa-brands fa-github"></i>
  <span class="label">Github</span>
</a>
{{/if}}

{{#if @site.twitter}}
<!-- Twitter -->
<a href="{{@site.twitter}}" target="_blank" rel="noopener noreferrer">
  <i class="fa-brands fa-x-twitter"></i>
  <span class="label">X / Twitter</span>
</a>
{{/if}}

{{#if @site.facebook}}
<!-- Facebook -->
<a href="{{@site.facebook}}" target="_blank" rel="noopener noreferrer">
  <i class="fa-brands fa-facebook"></i>
  <span class="label">Facebook</span>
</a>
{{/if}}


<!-- RSS -->
<a href="{{@site.url}}/rss/" rel="noopener noreferrer" title="RSS" target="_blank">
  <i class="fa-solid fa-rss"></i>
  <span class="label">RSS</span>
</a>
