{{!< default}}

{{#tag}}
<section class="archive-hero">
  <p class="section-kicker">TAG</p>
  <h1 class="archive-title">{{name}}</h1>
  {{#if description}}<p class="archive-desc">{{description}}</p>{{/if}}
</section>
{{/tag}}
<section class="archive-body">
  <div class="archive-list">
    {{#foreach posts}}
      {{> "site/post-card"}}
    {{/foreach}}
  </div>
  {{pagination}}
  <div class="archive-tags">
    {{#tag}}
    <div class="tag-filter">
      {{#get "tags" limit="100" include="count.posts" order="count.posts desc"}}
        {{#foreach tags}}
          <a class="{{#match slug '===' ../../slug}}active{{/match}}" href="{{url}}">{{name}} ({{count.posts}})</a>
        {{/foreach}}
      {{/get}}
    </div>
    {{/tag}}
  </div>
</section>


