{{! Gothic Theme - Pagination Component }}
{{#if pagination}}
    <nav class="pagination" aria-label="{{t "Pagination"}}">
        {{#if pagination.prev}}
            <a href="{{page_url pagination.prev}}" class="pagination__link pagination__link--prev" aria-label="{{t "Previous page"}}">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
                <span>{{t "Previous"}}</span>
            </a>
        {{/if}}

        <div class="pagination__pages">
            {{! 页码链接 }}
            {{#foreach pagination.pages}}
                {{#if this.isNumber}}
                    <a href="{{this.url}}" class="pagination__page{{#if this.isCurrent}} pagination__page--current{{/if}}">
                        {{this.number}}
                    </a>
                {{/if}}
            {{/foreach}}
        </div>

        {{#if pagination.next}}
            <a href="{{page_url pagination.next}}" class="pagination__link pagination__link--next" aria-label="{{t "Next page"}}">
                <span>{{t "Next"}}</span>
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
            </a>
        {{/if}}
    </nav>
{{/if}}